.sidebar {
    
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #343a40;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10%;
   
  }
  .sidebar a {
    color: white;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  .sidebar a:hover {
    background-color: #495057;
  }
  .dropdown-menu {
    background-color: #495057;
  }
  .dropdown-menu a {
    color: white;
  }
  .dropdown-menu a:hover {
    background-color: #6c757d;
  }
  .content {
    margin-left: 250px;
    padding: 20px;
  }

  .content h1{
    color: darkgreen;
  }